.cart>div{
  width: 100%;
    padding-top: 130px;
}.cart>div>div>img{
    width:40%;
}.change{
    display: flex;
    width: 100%;
   justify-content: space-around;
border: 1px solid grey;
}.change>div>button{
    margin-top: 30px;
}.er{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}