
.split{
    display:flex;
    justify-content: space-around;
}.split>div{
    width:42%;
    padding-top: 100px;
}.split>div>img{
    width:100%;
 
}.split>div>p:nth-child(1){
    font-size: 50px;
    font-weight: 800;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: rgb(68,68,68);
}.split>div>p:nth-child(2){
    margin-top: -40px;
    color: rgb(68,68,68);
}.split>div>p:nth-child(3){
    color: blue;
    font-size: 30px;
    font-weight: bolder;
    margin-top: -5px;
}.split>div>button{
    padding:20px 100px 20px 100px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;

}